@charset "UTF-8";

/*共通部分*/
html{
    font-size: 100%;
}

body{
    line-height: 2.0;
}

a{
    text-decoration:none;
}

/*レイアウト*/

.align-center{
    text-align: center;
    color:lightgray;
}

.align-center2{
    text-align: center;
    color:black;
}

.align-center3{
    text-align:center;

}
/*見出し*/

.font-japanese{
    font-family:'Philosopher',sans-serif;
    font-weight: normal;
}

/*ヘッダー*/

.page-header{
    padding-top:.5rem;
}

.main-nav{
    display:flex;
    justify-content: center;
    gap:2.5rem;
    font-size: 1.5rem;
    list-style:none;
}

.main-nav a{
    color:gray;
    border-width: medium;
    border-style:solid;
}

.main-nav a:hover{
    color:white;
}

.cover{
    background-size:cover;
    background-position: center bottom;
    height:800px;
}

.cover-home{
    background-image:url(../images/ocean.webp)
}

.cover-home2{
    background-image:url(../images/1.webp)
}

.about{
    max-width:736px;
    padding: 0 1.5rem;
    margin:3rem auto 0;
}

.about p{
    margin-bottom: 3rem;
}

.about2{
    max-width: 10rem;

    display:flex;
    align-self: flex-start;
    white-space: pre;
    
}

.about3{
    max-width: 300px;
    display:flex;
    margin-left:70%;
    text-align: left;
}

.soba{
    max-width: 70%;
    align-self: flex-start;
    padding-left: 10%;
    float:left;

}
.komayama{
    margin-left:0;
    margin-right:100%;
    width:200px;
    display:flex;
    align-self: flex-start;
    white-space: pre;
}
.heading-large3{
     margin-left:auto;
    margin-right:0;
    width:100px;
} 

.akari{
    width:100%;
    align-self: flex-start;
}
.p2
.p3
.p4{
    white-space: pre;
}

.komayamagazou{
    width: 70%;
    display:flex;
    align-self: flex-start;
    
    margin-left: auto;
}

.about4{
    display:flex;
    white-space: pre;
}
